Source: hugo
Section: games
Priority: optional
Maintainer: Michael DeGuzis <mdeguzis@gmail.com>
Build-Depends: debhelper (>= 9),
 gcc,
 libsdl1.2-dev,
 zlib1g-dev
Standards-Version: 3.9.8
Homepage: https://github.com/ProfessorKaos64/hu-go

Package: hugo
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PC-Engine emulator (GUI)
